*{
  background: linear-gradient(270deg, #FF007F 10%, #0000ff 100%);
}

.App{
  text-align: center;
}
input{
  background: white;
}
button{
  background: #FF007F;
  cursor: pointer;
}
button:hover{
  transition: .4s;
  color: #0000ff;
}

a{
  font-weight: 100;
  font-size: 10px;
  text-decoration: none;
  color: white;
}